<template>
  <div>
    <span
      class="tab"
      :class="{ activeTab: selectedTab === tab }"
      v-for="(tab, index) in tabs"
      :key="index"
      @click.prevent="onClickTab(tab)"
      >{{ tab }}</span
    >

    <div v-show="selectedTab === 'Reviews'">
      <p v-if="!reviews.length">There are no reviews yet.</p>
      <ul>
        <li v-for="review in reviews" :key="review.name">
          <p>{{ review.name }}</p>
          <p>Rating: {{ review.rating }}</p>
          <p>{{ review.review }}</p>
        </li>
      </ul>
    </div>
    <productReview
      v-show="selectedTab === 'Make a Review'"
      @review-submitted="addReview"
    />
  </div>
</template>

<script>
import productReview from "./product-review";

export default {
  name: "productTabs",
  components: {
    productReview
  },
  data() {
    return {
      tabs: ["Reviews", "Make a Review"],
      selectedTab: "Reviews",
      reviews: []
    };
  },
  props: {},
  methods: {
    onClickTab(tab) {
      this.selectedTab = tab;
    },
    addReview(review) {
      this.reviews.push(review);
    }
  }
};
</script>
