<template>
  <div id="app">
    <div class="nav-bar"></div>
    <div class="cart">
      <p>Cart({{ cart.length }})</p>
    </div>
    <product :premium="premium" @add-to-cart="updateCart" />

    <productTabs :reviews="reviews"></productTabs>
  </div>
</template>

<script>
import product from "./components/product";
import productTabs from "./components/product-tabs";

export default {
  name: "App",
  components: {
    product,
    productTabs
  },
  data() {
    return {
      premium: true,
      cart: [],
      reviews: []
    };
  },
  methods: {
    updateCart(id) {
      this.cart.push(id);
    },
    addReview(productReview) {
      this.reviews.push(productReview);
    }
  }
};
</script>

<style>
@import "./assets/css/product_style.css";
</style>
